#Java Class file
*.class

#ignore bundler config.
/.bundle

# Ignore the default SQLite database
./db
/*.sqlite3
/db
/*.sqlite3-journal

# Ignore all logfiles and tempfiles
./log/
*.log
/tmp

#for Eclipse
bin/
.project
.classpath
.settings/

#for maven
target/

# Ignore other unneeded files
.doc/
*.swp
*~
.DS_Store
.idea
.secret

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
